@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jura&family=Lato&display=swap");
.profile {
  padding-top: 50px;
}
.profile .container {
  max-width: 900px;
  margin: 0 auto;
}
.profile__block {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.profile__fotos {
  width: 50%;
  position: relative;
}
.profile__fotos-supp {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
.profile__fotos-supp .profile__img-right, .profile__fotos-supp .profile__img-left {
  width: auto;
}
.profile__fotos-supp .profile__img-right img, .profile__fotos-supp .profile__img-left img {
  width: 30px;
  height: 30px;
}
.profile__fotos-block {
  position: relative;
  margin: 0 5px;
}
.profile__fotos-block img {
  width: 70px;
}
.profile__fotos-opacity {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.profile__fotos-opacity.active, .profile__fotos-opacity:hover {
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.profile__fotos-opacity:hover {
  opacity: 0.3;
  cursor: pointer;
  background-color: #000;
  z-index: 1;
}
.profile__fotos-opacity:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("/img/page-icon/search.svg") no-repeat center;
  width: 30px;
  height: 30px;
}
.profile__img {
  position: relative;
  width: 100%;
  height: auto;
}
.profile__img-item {
  width: 100%;
  height: auto;
}
.profile__img-left, .profile__img-right {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.profile__img-left img, .profile__img-right img {
  width: 40px;
  height: 40px;
}
.profile__img-left {
  left: 0;
  justify-content: start;
}
.profile__img-left img {
  transform: rotate(90deg);
}
.profile__img-right {
  right: 0;
  justify-content: end;
}
.profile__img-right img {
  transform: rotate(-90deg);
}
.profile__buy {
  width: 50%;
  color: #222;
  margin: 0 10px;
  padding: 10px;
}
.profile__list {
  padding-left: 30px;
  padding-top: 30px;
}
.profile__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.profile__list-sizeP {
  margin-bottom: 10px;
}
.profile__list-sellect {
  padding: 10px 25px;
  font-size: 20px;
}
.profile__btn-basket {
  padding: 20px 30px;
  background-color: #fbfbfb;
  color: #222;
  font-size: 25px;
  transition: all 0.5s ease;
  border: transparent;
  margin-right: 20px;
  background-color: green;
  position: relative;
  font-size: 20px;
  padding-left: 2em;
}
.profile__btn-basket:hover {
  cursor: pointer;
  background-color: #222;
  color: #fbfbfb;
}
.profile__btn-basket:last-child {
  margin-right: 0px;
}
.profile__btn-basket:hover {
  background-color: #F16D7F;
}
.profile__btn-basket img {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translate(0%, -50%);
  width: 1em;
}
.profile__like-block {
  margin-left: 10px;
}
.profile__btn-like {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.profile__btn-like:hover {
  background-color: rgba(241, 109, 127, 0.6);
  box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.05);
}
.profile__name {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.profile__info {
  margin-bottom: 50px;
}
.profile__info-title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 50px;
}
.profile__info-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: circle;
}
.profile__info-item {
  margin-bottom: 30px;
}
.profile__info-text {
  font-size: 18px;
  font-weight: lighter;
}/*# sourceMappingURL=item.css.map */